<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: { method: :put, data: { turbo: false } }) do |f| %>

  <%= render 'devise/shared/error_messages' %>
  <div class="offset-md-4 offset-sm-3 col-sm-9">
    <h2>Редактирование пароля</h2>
    <div class="field mb-3 col-lg-4">
      <div>
        <%= f.label :email, 'Электронная почта', class: 'form-label', for: 'inputEmailEditPass' %>
      </div>
      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
                          class: 'form-control', id: 'inputEmailEditPass' %>
      </div>
    </div>

    <div class="field mb-3 col-lg-4">
      <div>
        <%= f.label :password, 'Пароль', class: 'form-label', for: 'inputPassEditPass' %>
      </div>
      <div>
        <%= f.password_field :password, autocomplete: "new-password",
                             class: 'form-control', id: 'inputPassEditPass' %>
      </div>
      <% if @minimum_password_length %>
        <div id="passwordHelpBlock" class="form-text">Минимальная длинна пароля <%= @minimum_password_length %>
          символов
        </div>
      <% end %>
    </div>

    <div class="field mb-3 col-lg-4">
      <div>
        <%= f.label :password_confirmation, 'Подтверждение пароля', class: 'form-label', for: 'InputPassConfirmEditPass' %>
      </div>
      <div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
                             class: 'form-control', id: 'InputPassConfirmEditPass' %>
      </div>
    </div>

    <div class="mb-3 col-lg-4">
      <div><%= f.label :current_password, 'Текущий пароль', for: 'PassCurrentEditPass' %>
        <i>(нам нужен ваш текущий пароль, чтобы подтвердить ваши изменения)</i></div>
      <div><%= f.password_field :current_password, autocomplete: "current-password", id: 'PassCurrentEditPass', class: 'form-control' %></div>
    </div>

    <div class="mb-3 col-lg-4">
      <%= f.submit 'Обновить данные', class: 'btn btn-success' %>
    </div>

<% end %>

<h3>Удалить мой аккаунт</h3>

<%= button_to 'Удалить мой аккаунт', registration_path(resource_name), method: :delete,
              form: { data: { turbo_confirm: t('confirm.are_you_sure') } },
              class: 'btn btn-danger' %>

<%= link_to "Назад", :back, class: 'btn btn-primary mt-2' %>

</div>