<h1><%= t '.title' %></h1>
<p><%= t '.name' %>: <strong><%= @photo.user.name %></strong></p>
<p><%= t '.email' %>: <strong><%= link_to @photo.user.email, "mailto:#{@email}" %></strong></p>
<hr/>
<%= t '.event' %>
<h3><%= link_to @photo.event.title, @photo.event %></h3>
<%= t '.datetime' %>
<h4><%= l @photo.event.datetime %></h4>
<%= t '.owner' %>
<h4><%= @photo.event.user.name %></h4>
<%= t '.photo' %>
<div>
  <%= link_to image_tag(@photo.photo.thumb.url), @photo.photo.url %>
</div>
